$themes: (
  'light': (
    'bg-color': #ffffff,
    'text-color': #333,
  ),
  'dark': (
    'bg-color': #303437,
    'text-color': #ffffff,
  ),
);

@each $theme-name, $theme-vars in $themes {
  $shades: map-get($theme-vars, 'shades');
  $colors: map-get($theme-vars, 'colors');

  $theme: (
    'bg-color': map-get($theme-vars, 'bg-color'),
    'text-color': map-get($theme-vars, 'text-color'),
  );

  body.#{$theme-name} {
    // // define a css variable for each shade
    // @each $name, $color in $shades {
    //   --#{$name}: #{$color};
    // }

    // // define a css variable for each color
    // @each $name, $color in $colors {
    //   --#{$name}: #{$color};
    //   --#{$name}-dark: #{darken($color, 10%)};
    //   --#{$name}-darker: #{darken($color, 20%)};
    // }

    // define a css variable for each theme color
    @each $name, $color in $theme {
      --#{$name}: #{$color};
    }
  }
}
