:root {
  --gray: #d9d3d3ff;
  --dark-navy: #264653ff;
  --green: #2a9d8fff;
  --yellow-orange: #e9c46aff;
  --dark-orange: #f4a261;
  --red-ish: #e76f51;
}

$themes: (
  'light': (
    'bg-color': #ffffff,
    'text-color': #333,
    'sub-color': var(--gray),
  ),
  'dark': (
    'bg-color': #333,
    'text-color': #ffffff,
    'sub-color': var(--gray),
  ),
);

@each $theme-name, $theme-vars in $themes {
  $shades: map-get($theme-vars, 'shades');
  $colors: map-get($theme-vars, 'colors');

  $theme: (
    'bg-color': map-get($theme-vars, 'bg-color'),
    'text-color': map-get($theme-vars, 'text-color'),
    'sub-color': map-get($theme-vars, 'sub-color'),
  );

  body.#{$theme-name} {
    // // define a css variable for each shade
    // @each $name, $color in $shades {
    //   --#{$name}: #{$color};
    // }

    // // define a css variable for each color
    // @each $name, $color in $colors {
    //   --#{$name}: #{$color};
    //   --#{$name}-dark: #{darken($color, 10%)};
    //   --#{$name}-darker: #{darken($color, 20%)};
    // }

    // define a css variable for each theme color
    @each $name, $color in $theme {
      --#{$name}: #{$color};
    }
  }
}
